<h2> Click on a tile to generate a color! </h2>

<div id='table'>

</div>

<button class='clear_button' onclick='clearTiles()'> Clear Tiles </button>
<button class='save' onclick='saveTable()'> Save </button>